services:
  pgvector:
    image: 'pgvector/pgvector:pg16'
    container_name: 'pgvector'
    environment:
      - 'POSTGRES_DB=rag_hr_db'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    labels:
      - "org.springframework.boot.service-connection=postgres"
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    container_name: 'hr-rag-backend'
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    depends_on:
      - pgvector
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://pgvector:5432/rag_hr_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres

  frontend:
    container_name: 'hr-rag-frontend'
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      REACT_APP_BACKEND_URL: http://localhost:8080
volumes:
  postgres_data:
